@tailwind base;
@tailwind components;
@tailwind utilities;
/* Ajouter ces styles dans ton fichier CSS */
.aspect-w-1 {
    aspect-ratio: 1 / 1;
  }
  
  .aspect-w-16 {
    aspect-ratio: 16 / 9;
  }
  html, body { height: 100%; margin: 0; } #root { display: flex; flex-direction: column; min-height: 100vh; } .App { display: flex; flex-direction: column; flex-grow: 1; } .content { flex-grow: 1;}